; "IP/Name/Steam/Flag/Pass" "userip/username/usersteamid/note/(userip/usersteamid/username)" "access-flag" "Tag" "Password/Passcode"

; example's how to add tags...

; add by IP - "IP" "76.46.35.75" "abcdefghijkmnlopqrstyuz" "[ User Tag ]"

; add by Steamid - "Steam" "STEAM_ID_0:0543637" "abcdefghijkmnlopqrstyuz" "[ User Tag ]"

; add by Name - "Name" "S$zT" "abcdefghijkmnlopqrstyuz" "[ User Tag ]"

; add by Pass - "Pass" "User ip/ User steamid/ User Name" "abcdefghijkmnlopqrstyuz" "[ User Tag ]" "User Password"



"Name" "Trebor Unaerugnu" "a" "[ Legend ]" "!y"


