/* Biohazard configs
*
*  by Cheap_Suit
* 
*  This file is provided as is (no warranties).
*/

#if defined _biohazardcfg_included
	#endinput
#endif
#define _biohazardcfg_included

// fog settings
#define FOG_ENABLE  	     1
#define FOG_DENSITY	    "0.0012"
#define FOG_COLOR   	    "100 0 0"

// default zombie setting
#define DEFAULT_PMODEL	    "models/player/slum/slum.mdl"
#define DEFAULT_WMODEL	    "models/v_knife_zombie.mdl"

#define DEFAULT_HEALTH 	    170.0 //Health value
#define DEFAULT_SPEED	    280.0 //Speed value
#define DEFAULT_GRAVITY	    1.0   //Gravity multiplier
#define DEFAULT_ATTACK	    2.0   //Zombie damage multiplier
#define DEFAULT_DEFENCE	    0.087 //Bullet damage multiplier
#define DEFAULT_HEDEFENCE   1.0   //HE damage multiplier
#define DEFAULT_HITSPEED    0.89  //Pain speed multiplier
#define DEFAULT_HITDELAY    0.28  //Pain speed delay value
#define DEFAULT_REGENDLY    0.18  //Regeneration delay value
#define DEFAULT_HITREGENDLY 2.0   //Pain regeneration delay value
#define DEFAULT_KNOCKBACK   1.0   //Knockback multiplier

new g_zombie_weapname[] = "melee"
new g_infection_name[]  = "infection"

// primary weapons (menu|game)
new g_primaryweapons[][][] = 
{ 
	{ "\yM4A1",     "weapon_m4a1"    },
	{ "\yAK47",     "weapon_ak47"    },
	{ "\yAUG",      "weapon_aug"     },
	{ "\ySG552",    "weapon_sg552"   },
	{ "\yGalil",    "weapon_galil"   },
	{ "\yFamas",    "weapon_famas"   },
	{ "\yMP5 Navy", "weapon_mp5navy" },
	{ "\yXM1014",   "weapon_xm1014"  },
	{ "\yM3",       "weapon_m3"      },
	{ "\yP90",      "weapon_p90"     },
	{ "\yM249",     "weapon_m249"    },
	{ "\ySG550",    "weapon_sg550"   },
	{ "\yG3SG1",    "weapon_g3sg1"   }			
}

// secondary weapons (menu|game)
new g_secondaryweapons[][][] = 
{ 
	{ "\yDeagle",   "weapon_deagle"  },
	{ "\yUSP",      "weapon_usp"     },
	{ "\yElite",    "weapon_elite"   } 
}

// grenade loadout (game)
new g_grenades[][] = 
{ 
	"weapon_hegrenade",
	"weapon_flashbang",
	"weapon_smokegrenade"
}

new Float:g_knockbackpower[] =
{
	3.0,  // KBPOWER_357SIG
	4.0,  // KBPOWER_762NATO
	9.5,  // KBPOWER_BUCKSHOT
	3.0,  // KBPOWER_45ACP
	4.5,  // KBPOWER_556NATO
	3.0,  // KBPOWER_9MM
	3.5,  // KBPOWER_57MM
	10.0, // KBPOWER_338MAGNUM
	4.0,  // KBPOWER_556NATOBOX
	3.8   // KBPOWER_50AE
}

new g_survivor_win_sounds[][] =
{
	"biohazard/win_sounds/infection_destroyed1.wav",
	"biohazard/win_sounds/infection_destroyed2.wav",
	"biohazard/win_sounds/infection_destroyed3.wav"
}

new g_zombie_win_sounds[][] = 
{ 
	"biohazard/win_sounds/zombies_win1.wav", 
	"biohazard/win_sounds/the_horror2.wav",
	"biohazard/win_sounds/the_horror1.wav" 	
}

new g_scream_sounds[][] = 
{ 
	"biohazard/infect_sounds/linkcs_scream.wav", 
	"biohazard/infect_sounds/linkcs_scream2.wav", 
	"biohazard/infect_sounds/linkcs_scream3.wav"
}

new g_zombie_miss_sounds[][] = 
{ 
	"zombie/claw_miss1.wav", 
	"zombie/claw_miss2.wav" 					
}

new g_zombie_hit_sounds[][] = 
{ 
	"zombie/claw_strike1.wav",
	"zombie/claw_strike2.wav",
	"zombie/claw_strike3.wav"
}

new g_zombie_die_sounds[][] = 
{
	"biohazard/zombie_death/creature_death1.wav",
	"biohazard/zombie_death/creature_death2.wav",
	"biohazard/zombie_death/creature_death3.wav" 
}